@model IEnumerable<StudetPlanner.Models.User>

@{
    ViewData["Title"] = "Користувачі";
}

<h1 class="mb-3">Користувачі</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Створити користувача</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Логін</th>
            <th>Email</th>
            <th>Рівень</th>
            <th>Досвід</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.Username</td>
            <td>@item.Email</td>
            <td>@item.Level</td>
            <td>@item.ExperiencePoints</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

